body{
  background-color: rgba(211, 211, 211, 0.942);
}

.tab {
  overflow: hidden;
  background-color: inherit;
}

.tab button {
  position:relative;
  top:1px;
  left:100px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  
}

.tab button.active {
  border-top: 5px solid orange;
  color: orange;
  
}

 .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
} 

.welcome{
  position:absolute;
  top:3.5%;
  right:14%;
  font-size:20px;
}

  .medicalRecords1{
    position:absolute;
    left:4%;
    top:8%;
    font-size:17px;
    color: #2B3856
}


.firstSquare{
    position:absolute;
    top:15%;
    left:2%;
    background-color:white;
    width:380px;
    height:200px;
    border-radius:2%;
}

.medicalRecords2{
    position:absolute;
    left:37%;
    top:8%;
    font-size:17px;
    color: #2B3856
}

.secondSquare{
    position:absolute;
    top:15%;
    left:35%;
    background-color:white;
    width:380px;
    height:200px;
    border-radius:2%;
}

.medicalRecords3{
    position:absolute;
    left:70%;
    top:8%;
    font-size:17px;
    color: #2B3856
}

.button{
    position:absolute;
    bottom:20px;
    right:120px;
    background-color:#4CAF50;
    border-radius:5px;
    color:white;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:30px;
    margin: 5px 5px;
    cursor: pointer;
}

.thirdSquare{
    position:absolute;
    top:15%;
    left:68%;
    background-color:white;
    width:380px;
    height:200px;
    border-radius:2%;
} 

form {
  position:absolute;
  left:380px;
  background-color: rgba(176, 171, 171, 0.341);
  width: 750px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input1 {
  all: unset;
  font: 16px system-ui;
  color: black;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: black;
  opacity: 0.7; 
}

.button1 {
  all: unset;
  cursor: pointer;
  width: 30px;
  height: 40px;
  color:white;
}

.searchBar{
  position:absolute;
  left:2%;
  top:2%;
}

.firstRectangle{
  position:absolute;
  top:10%;
  left:8%;
  width:1307px;
  height:325px;
  background-color:white;
  border-radius:10px;
}

.allMedical{
  position:absolute;
  left:40px; 
  font-size:20px;
  color:orange

}

.secondRectangle{
position:absolute;
top:55%;
left:8%;
background-color:white;
width:600px;
height:320px;
border-radius:10px;
}

.pendingMedical{
 position:absolute; 
 left:80px; 
 font-size:20px; 
 color:orange;
}

.thirdRectangle{
position:absolute;
top:55%;
left:54%;
background-color:white;
width:600px;
height:320px;
border-radius:10px;
}

.pinned{
  position:absolute;
  left:60px; 
  font-size:20px;
  color:orange;
}


  
