<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={{ static_url( 'static/css/main-departments.css') }}>
    <title> DEPARTMENTS </title>
</head>

<body class="bg-lighterGray">

    <!-- Start of 1st Flex Container -->
    <div class="flex flex-row">

        <div class="mt-24 ml-24 bg-white w-[350px] h-[340px] rounded-md shadow-xl">
            <p class="text-brightOrange text-xl pl-4 "> <b>doctors </b></p>
            <p class="text-lightGray text-xl pl-14 pt-2"> interns </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> DAHS university </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> surgeon </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> surgeon head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> lead </p>
            <div class="pt-16 pl-80">
                <i class="fa fa-gear text-brightOrange" style="font-size:24px;"></i>
            </div>
        </div>


        <div class="mt-24 ml-14 bg-white w-[350px] h-[340px] rounded-md shadow-xl">
            <p class="text-brightOrange text-xl pl-4 "> <b>nurses </b></p>
            <p class="text-lightGray text-xl pl-14 pt-2"> interns </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> DAHS university </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> assistant nurses </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> surgeon head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> information </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> lead </p>
            <div class="pt-16 pl-80">
                <i class="fa fa-gear text-brightOrange " style="font-size:24px;"></i>
            </div>
        </div>

        <div class="mt-24 ml-14 bg-white w-[350px] h-[340px] rounded-md shadow-xl">
            <p class="text-brightOrange text-xl pl-4 "> <b>staff </b></p>
            <p class="text-lightGray text-xl pl-14 pt-2"> interns </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> DAHS university </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> assistant nurses </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> surgeon head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> lead </p>
            <div class="pt-16 pl-80">
                <i class="fa fa-gear text-brightOrange" style="font-size:24px;"></i>
            </div>
        </div>

    </div>
    <!-- End of 1st Flex Container -->

    <!-- Start of 2nd Flex Container -->
    <div class="flex flex-row">


        <div class="mt-16 ml-24 bg-white w-[350px] h-[340px] rounded-md shadow-xl">
            <p class="text-brightOrange text-xl pl-4 "> <b>staff </b></p>
            <p class="text-lightGray text-xl pl-14 pt-2"> interns </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> DAHS university </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> assistant nurses </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> surgeon head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> lead </p>
            <div class="pt-16 pl-80">
                <i class="fa fa-gear text-brightOrange" style="font-size:24px;"></i>
            </div>
        </div>

        <div class="mt-16 ml-14 bg-white w-[350px] h-[340px] rounded-md shadow-xl">
            <p class="text-brightOrange text-xl pl-4 "> <b>staff </b></p>
            <p class="text-lightGray text-xl pl-14 pt-2"> interns </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> DAHS university </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> assistant nurses </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> surgeon head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> lead </p>
            <div class="pt-16 pl-80">
                <i class="fa fa-gear text-brightOrange" style="font-size:24px;"></i>
            </div>
        </div>

        <div class="mt-16 ml-14 bg-white w-[350px] h-[340px] rounded-md shadow-xl">
            <p class="text-brightOrange text-xl pl-4 "> <b>staff </b></p>
            <p class="text-lightGray text-xl pl-14 pt-2"> interns </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> DAHS university </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> assistant nurses </p>
            <p class="text-lightGray text-xl pl-20 pt-2"> surgeon head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> head </p>
            <p class="text-lightGray text-xl pl-14 pt-2"> lead </p>
            <div class="pt-16 pl-80">
                <i class="fa fa-gear text-brightOrange" style="font-size:24px;"></i>
            </div>
        </div>

    </div>
    <!-- End of 2nd Flex Container -->


    <div class="pt-[70px] float-right pr-10">
        <i class="fa fa-gear text-brightOrange" style="font-size:48px; "></i>
    </div>

    <div class="pt-24 float-right pr-2">
        <a class="text-brightOrange" href="">
            <p><b>edit department tree</b></a>
        </p>
    </div>

</body>

</html>